/*特色菜式栏字样*/
.recommend_today{
    font-size: 24px;
    color: #fbf069;
}
/*首页*/
/*剧目背景*/
.carousel_frame{
    position: relative;
    width: 100%;
    height: 750px;
    background: url(../../img/index/background.jpg);
    bottom: 40px;
}
.img_us_index{
    padding-left: 2em;
}




.register_email{
    width: 25%;
    height: 2.62em;
    border-radius: 0 2px 2px 0;
    margin: 0;
    padding: .6em 1em .6em 1.1em;
    background: #F44336;
    color: #fff;
    border: #F44336;
    text-decoration:none;
}
.register_email:hover{
    border: 1px solid #F44336;
    background: transparent;
    color: #F44336;
    text-decoration:none;

}
.register_btn{
    width: 90%;
    height: 2.62em;
    border-radius: 2px;
    margin: 4em 0 0;
    padding: .6em 1em;
    background: #F44336;
    color: #fff;
    border: #F44336;
}
.register_btn:hover{
    border: 1px solid #F44336;
    background: transparent;
    color: #F44336;
}

/*导航菜单*/
.meal_li{
    line-height: 1.8em;
}
.header_meal_ul{
    display: none;
    list-style: none;
    position: absolute;
    left: 13px;
    background-color: rgba(231,231,231,0.7);
    padding: 5px 12px 10px;
    border-radius: 0 0 10px 10px;
    width: 60px;
    text-align: center;
    z-index: 10;

}
.header_meal_ul:hover{
    display: block;
}
.header_trimark{
    position: relative;
    left: 0.2em;
}
#menu a{
    text-decoration: none;
}


/*个人中心*/
.uc_center_msg{
    margin-left: 5em;
    margin-right: 5em;
}
.uc_center_input{
    margin-bottom: 1em;
}
.uc_center_btn{
    position: relative;
    left: 25%;
}
.uc_center_picture{
    margin-bottom: 2em;
}
.uc_intro{
    background: transparent;
    border-radius: 4px;
    border: none;
    position: relative;
    left: 6em;
    width: 130px;
    height: 80px;
}
.uc_intro:focus{
    border: 1px solid;
}



/*搜索*/
.search_div{
    position: relative;
    width: 100%;
    height: 750px;

    bottom: 40px;
}
.search_head{
    padding: 50px 0 0 0;
}
.filter-wrap {
    height: auto;
    padding: 20px 0 10px;
    position: relative;
    border-bottom: 1px solid #e5e9ef;
    display: table;
    width: 100%;
    margin-bottom: 30px;
}
.search_ul{
    list-style: none;
    height: 20px;
}
.search_li{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    margin-right: 15px;
}
.search_li_active{
    background-color: #00a1d6;
    border-radius: 4px;
    padding: 0 8px;
    color: #fff;
}
.search_contain{
    width: 980px;
    margin: 0 auto;
}
.search_li:active{
    background-color: #00a1d6;
    border-radius: 4px;
}
.search_li a:active{
    color: #fff;
}
.search_li a{
    text-decoration: none;
}
.service-box{
    padding: 15px 15px 0;
    border: 1px solid #dedede;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
}
.box-text{
    text-align: center;
    margin: 10px 0 0;
    font-size: 1em;
}

/*菜品页面*/
.dish_img{
    height: 375px;
    margin: 0 0 1em;
}
.dish_produce{
    padding: 0 1em;
    opacity: 0.8;
}
.dish_noproduce{
    margin: 0 15em;
    font-size: 18px;
}
