@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url('https://fonts.googleapis.com/css?family=Viga');

/*###############*/.section-header{
	text-align: center;
	margin-bottom: 50px;
}

/*###############*/.section-header h1{
	
	font-weight: 700;
	font-size: 30px;
	color: #ffffff;
}

/*###############*/.section-header h2{
	font-weight: 700;
	font-size: 48px;
	color: #f66b27;
	border-top: none;
	border-bottom: none;
	padding: 8px 10px;
}

/*###############*/.section-header h1 span{
	
	font-weight: 700;
	font-size: 30px;
}

/*###############*/.section-header .section-divider{
	width: 100px;
	height: 2px;
	margin: 10px auto;
}

/*###############*/.section-header p{
	
}

/*###############*/.section-header-parallax h1{
	
	font-weight: 700;
	font-size: 30px;
	color: #ffffff;
}

/*###############*/.section-header-parallax h1 span{
	
	font-weight: 700;
	font-size: 30px;
}

.features-section /*###############*/.container{
	position: relative;
	z-index: 1;
}

.menus-full > /*###############*/.row{
    width: 100%;
    margin: 0;
}

  /*###############*/.section-header {
    margin-bottom: 60px;
    text-align: center;
  }
  .navbar-toggle {
    border: 1px solid #fff;
  }

  .navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    background-color: #fff;
  }

  .navbar-collapse {
    border-top: 0px solid transparent;
    box-shadow: 0 0px 0 rgba(255, 255, 255, 0) inset;
}
.us{
	padding:0;
}

.us p{
	margin-bottom: 8px;
}

.us span.glyphicon {
    font-size: 14px;
    color: #FF7F50;
}

.us span.glyphicon.glyphicon-list-alt {
    color: #5F9EA0;
}

.us span.glyphicon.glyphicon-signal {
    color: #9370DB;
}



.us .welcome-bars {
    margin: 0 0 0 1.2em;
    position: relative;
    padding-top: 0;
	opacity: 0.7;
}

.us .progress {
    height: 3px;
    background: #E6E6E6;
}
.us .progress-bar {
  background-color: #FF7F50;
  line-height: 15px;
}
@media (max-width:640px) {
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.us .progress {
		height: 0;
		margin-bottom: 0;
	}
}